extends layout.pug 

block content
    div.container
        h1.main-msg This application will allow users to add, delete, edit, archive employee records. This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service.
        a.addbutton(href='/add') Add new employee